
<%= link_to 'Signup', signup_path if !logged_in? %>
<%= link_to 'Log in', login_path if !logged_in? %>
<%= link_to 'Log out', logout_path, method: "delete" if logged_in? %>

<h3><%= current_user.name if logged_in? %></h3>

<ul>
<%= render @users %>
</ul>